// FONTS
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// COLORS
$color-primary: hsl(322, 100%, 66%);
$color-secondary: hsl(265, 100%, 66%);
$color-gray-light: hsl(214, 64%, 98%);
$color-gray: hsl(208, 11%, 55%);
$color-dark: hsl(192, 100%, 9%);
$color-atrb: hsl(228, 45%, 44%);